<h1>Owners Index</h1>

<% owners.each do |owner| %>
  <div>
    <p>Name: <%= owner.first_name %> <%= owner.last_name %></p>
    <p>Email: <%= owner.email %></p>
    <p>Company: <%= owner.company %></p>
    <p><%= link_to 'Show', owner %> <%= link_to 'Edit', edit_owner_path(owner) %> <%= link_to 'Delete', owner, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<%= link_to 'Create Owner', new_owner_path %>
